.experience {
  
    height: 190vh;
}
.experience__content{
    display: flex;
    gap: 5rem;
    color: black;
}
.experience__img {

    background: white;
    border-radius: 50%;
    width: auto;
    height: 5em;
}
.experience__text h5 {
    color: black;
}
.experience__text h6 {
    font-style: italic;
}
.modal_right{
    float: right;
}
.modalImage {
    background: white;
    border-radius: 50%;
    width: auto;
    height: 3em;
}
.modal_title{
    display: flex;
    gap: 2rem;
    color: black;
}
.modal_date{
    font-size: small;
    font-weight: normal;
}